/* style.css */
  .body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on the body */
    background-color: black;
    font-family: Arial;
  }
  .container {
    display: flex;
    height: 100vh; /* Set the container height to full viewport height */
    background-color: black;
  }

  .name {
    font-size: 80px; /* Adjust the font size as desired */
    color: white; /* Adjust the color as desired */
    font-family: Arial;
  }

  .information {
    display: none;
    color: white;
    font-family: Arial;
    }

    .show-information {
        display: block;
    }

    .slide-up {
        animation: slide-up 0.5s forwards;
    }


  .left {
    flex: 1; /* Take up 50% of the container width */
    background-color: black; /* Background color for the left part */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow-y: auto;
    /* pad such that all content is visible */
    padding-top: 150px;
    box-sizing: border-box;
  }

  

  .p {
    margin: 10px 0;
    line-height: 1.5;
  }

  .right {
    flex: 1; /* Take up 50% of the container width */
    background-color: white; /* Background color for the right part */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }
  .profile-picture {
    width: 475px; /* Adjust the size of the profile picture as desired */
    height: 640px;
    border-radius: 100%;
    background-color: white; /* Placeholder color for the profile picture */
  }
  .icons {
    margin-top: 20px; /* Adjust the margin as desired */
    display: flex;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }
  .icon {
    margin: 0 10px; /* Adjust the margin as desired */
  }
  
  .footer {
    background-color: #d5d1d1;
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  