@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

h1 span {
    display: inline-block;
    overflow: hidden;
    animation: typing 1s steps(20, end) forwards;
}